.wrapper {
  &.otherPage {
    height: 280px;
    border-radius: 0 0 20px 20px;
    box-shadow: var(--bx-accent);
  }
}

.heading {
  text-transform: uppercase;
  color: var(--whiteClear);
  font-size: 30px;
  font-weight: bold;
}
